

@{
    ViewData["Title"] = "House Rental";
}



<div class="text-center">
    <h1 class="display-4">Welcome to House Rental</h1>       <!--Dette er en overskrift med klasse display-4. Den representerer tittelen på hjemmesiden og har en spesifikk stil definert av Bootstrap-klassen.-->
</div>

<partial name="_Carousel" />






